version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: drones-postgres
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - drones-network

  adminer:
    image: adminer:latest
    container_name: drones-adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    networks:
      - drones-network

networks:
  drones-network:
    driver: bridge

volumes:
  postgres_data:
